/* 이건 언제나 가장 먼저 해줘야하는 것 */
* {
    box-sizing: border-box;
    /* 이걸 해줌으로 인해서 왼쪽, 상단에 있는 공백이 없어진다. */
    margin: 0px;
}

.background {
    width: 1024px;
    height: 600px;
    background-image: url("../images/background.png");
    padding: 20px 0px 0px 20px;
}

.outerbox {
    width: 808px;
    height: 544px;
    background-image: url(../images/outerbox.png);
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 32px 0px 0px 32px;
}

.wrapper__left {
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
}

.wrapper__left__header {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.today {
    font-size: 9px;
}

/* 왼쪽 전체 - 헤드(토탈 표시부분) */
.wrapper__left__body {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

/* 프로필사진 영역즈음 */
.left__body__header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 왼쪽 프로필 상자 */
.left__body__header__gray {
    width: 148px;
    height: 133px;
    background-color: gray;
}

/* 왼쪽 프로필 쪽 구분 선 */
.left__body__header__line {
    border-top: 1px dotted black;
    margin: 12px 0px;
}

.left__body__profile {
    width: 100%;
    height: 100%;
    display: flex;
    /* 보이기로는 각 영역을 div로 구분했기 때문에 밀려나면서 정렬된것처럼 보일수있으나
    실질적으로는 이 설정을 해주어야 정렬이 된다. */
    flex-direction: column;
    justify-content: flex-start;
}

.left__body__footer {
    /* 이게 있어야 "가로를 전체적으로 사용하겠다"라는 의미가 된다. */
    width: 100%;
}

.wrapper__feel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feel__title {
    color: gray;
    font-size: 11px;
    margin-bottom: 5px;
}

.wrapper__right {
    width: 524px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
}

.wrapper__right__header {
    width: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 14px;
}

.right__header__title,
.right__header__setting {
    color: #55B2E4;
    font-size: 9px;
}

.right__header__title {
    font-size: 16px;
}

.wrapper__right__body {
    width: 510px;
    height: 445px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}